<%- include('../common/header') %>
<div class="row">
    <div
        class="alert alert-danger col-md-4 offset-md-4"
        role="alert"
        id="errorMessage"
        style="display:none;"
    >
        Invalid credentials!
    </div>
    <div class="col-md-4 offset-md-4">
        <h1>Login</h1>
    </div>
    <div class="col-md-4 offset-md-4">
        <form method="post" action="/user/login" >
            <div class="mb-3">
                <label for="email">Email:</label>
                <input type="text" class="form-control" name="email" />
            </div>
            <div class="mb-3">
                <label for="password">Password:</label>
                <input type="password" class="form-control" name="password" />
            </div>
            <div class="mb-3">
                <input type="submit" class="btn btn-primary" value="Login" />
            </div>
        </form>
    </div>
</div>
<script>
    window.addEventListener("load", function() {
        if (window.location.search.indexOf("error") > -1) {
            $("#errorMessage").show();
        }
    });
</script>
<%- include('../common/footer') %>
